














/**基础数据 - 拖车报价- 修改 **/
.tuo_che_bao_jia_guang_li .el-dialog__wrapper:nth-child(6) .el-dialog--small {
  width: 50%!important;
  border:1px solid black;
}/**新增显示界面宽度**/


.tuo_che_bao_jia_guang_li .el-dialog__wrapper:nth-child(6) .el-dialog--small .el-dialog__body .el-form  input{
  font-size:12px;
}/**输入框字体大小**/

.tuo_che_bao_jia_guang_li .el-dialog__wrapper:nth-child(6)  .el-dialog--small  .el-dialog__body .el-form-item__label{
  padding: 2px 12px 0px 0!important;
}/**输入框左面文字padding**/
.tuo_che_bao_jia_guang_li .el-dialog__wrapper:nth-child(6) .el-dialog__body .el-form .el-form-item:nth-child(1) .el-form-item__label,
.tuo_che_bao_jia_guang_li .el-dialog__wrapper:nth-child(6) .el-dialog__body .el-form .el-form-item:nth-child(2) .el-form-item__label{
  padding: 12px 12px 0px 0!important;
}/**输入框左面文字padding**/



/**基础数据 - 拖车报价- 查询 **/












/**基础数据 - 拖车报价- 修改 **/

.tuo_che_bao_jia_guang_li .el-dialog__wrapper:nth-child(6) .el-dialog--small  .el-dialog__body .el-form-item__label{
  padding: 0px 12px 0px 0!important;
}

.tuo_che_bao_jia_guang_li .el-dialog__wrapper:nth-child(6) .el-dialog--small .el-dialog__body .el-form .el-form-item:nth-child(1) .el-form-item__label{
  padding-top:10px!important;
}

.tuo_che_bao_jia_guang_li .el-dialog__wrapper:nth-child(6) .el-dialog--small .el-dialog__body .el-form .el-form-item:nth-child(2) .el-form-item__label{
  padding-top:10px!important;
}
.tuo_che_bao_jia_guang_li .el-dialog__wrapper:nth-child(6) .el-dialog--small .el-dialog__body .el-form .el-form-item:nth-child(9) .el-form-item__content{
  margin-left:79px!important;
}






/**基础数据 - 客户报价 - 新增 **/
.ke_hu_bao_jia .el-dialog__wrapper:nth-child(5) .el-dialog--small {
  width: 50%!important;
  border:1px solid black;
}/**新增显示界面宽度**/

.ke_hu_bao_jia .el-dialog__wrapper:nth-child(5) .el-dialog__body .el-form{
  width:95%!important;
}/**每列的父集-即系显示内容的最大边框**/
.ke_hu_bao_jia .el-dialog__wrapper:nth-child(5) .el-dialog__body .el-form .el-form-item .el-form-item__content .control-width{
  width:164px!important;
}/**一般text输入框**/
.ke_hu_bao_jia .el-dialog__wrapper:nth-child(5) .el-dialog__body .el-form .el-form-item .el-form-item__content .el-select .el-input{
  width:164px!important;
}/**一般selection选择输入框**/
.ke_hu_bao_jia .el-dialog__wrapper:nth-child(5) .el-dialog--small .el-dialog__body .el-form  input{
  font-size:12px;
}/**输入框字体大小**/

.ke_hu_bao_jia .text_bo_bo label{
  padding: 2px 12px 11px 0!important;
}/**两行标题字体**/






/**基础数据 - 客户报价 - 修改 **/

.ke_hu_bao_jia .el-dialog__wrapper:nth-child(6) .el-dialog--small {
  width: 50%!important;
  border:1px solid black;
}/**新增显示界面宽度**/

.ke_hu_bao_jia .el-dialog__wrapper:nth-child(6) .el-dialog__body .el-form{
  width:95%!important;
}/**每列的父集-即系显示内容的最大边框**/
.ke_hu_bao_jia .el-dialog__wrapper:nth-child(6) .el-dialog__body .el-form .el-form-item .el-form-item__content .control-width{
  width:164px!important;
}/**一般text输入框**/
.ke_hu_bao_jia .el-dialog__wrapper:nth-child(6) .el-dialog__body .el-form .el-form-item .el-form-item__content .el-select .el-input{
  width:164px!important;
}/**一般selection选择输入框**/
.ke_hu_bao_jia .el-dialog__wrapper:nth-child(6) .el-dialog--small .el-dialog__body .el-form  input{
  font-size:12px;
}/**输入框字体大小**/

.ke_hu_bao_jia .text_bo_bo label{
  padding: 2px 12px 11px 0!important;
}/**两行标题字体**/
.ke_hu_bao_jia .today_bo_bo{
  margin-left:10px;
}


.ke_hu_bao_jia .el-dialog__wrapper:nth-child(6) .el-dialog--small  .el-dialog__body .el-form-item__label{
  padding: 10px 12px 0px 0px!important;
}

.ke_hu_bao_jia .el-dialog__wrapper:nth-child(6) .el-dialog--small .el-dialog__body .el-form .el-form-item:nth-child(8) .el-form-item__label{
  padding-top:2px!important;
}
.ke_hu_bao_jia .el-dialog__wrapper:nth-child(6) .el-dialog--small .el-dialog__body .el-form .el-form-item:nth-child(12) .el-form-item__label{
  padding-top:2px!important;
}

.ke_hu_bao_jia .el-dialog__wrapper:nth-child(6) .el-dialog--small .el-dialog__body .el-form .el-form-item:nth-child(2) .el-form-item__content{
  width:460px;
}



