*{ padding:0; margin:0; font-family:'Microsoft Yahei', '微软雅黑', '宋体', \5b8b\4f53, Tahoma, Arial, Helvetica, STHeiti}
body{width:100%;overflow:hidden;}
.hide{ display:none;}
.page{width:100%;height:100%;max-width:640px;position:absolute;font-size:100px;text-align:center;overflow:hidden;}
.page .wrap{height:500px;}
.page .wrap img{height:auto;position:absolute;left:50%; margin-left:-50%; width:100%;} 
.page .wrap div.text{ position:absolute; width:300px; left:50%; margin-left:-150px;}
.page .wrap div.text h3{ color:#000; font-size:20px; text-align:center; width:100%; margin:px auto; font-family:"宋体";}
.page .wrap div.text p{ color:#808080; font-size:14px; color:#252f32; line-height:22px; text-align:center; width:100%;}
.page-1-1{ background-color:#f4f4f6;}
.page-5-1{ background-color:#cdcdd5;}
.page-10-1{ background-color:#f4e0d2;}
.page-11-1{ background-color:#cdcccf;}
.page-12-1{ background-color:#dddddf}
.page-14-1{ background-color:#f9f9f9}

.page-current{z-index:1;}
.wid{ width:100%; margin-left:-50%;}


.page-1-1 .img_1 {top:0%}
.page-1-1 .img_2 {top:0%;}
.page-1-1 .img_3 {top:15%;}
.page-1-1 .img_4 {top:25%;}

.page-2-1 .img_1{bottom:0%;}
.page-2-1 .img_2{top:22%;}
.page-2-1 .img_3{top:42%}

.page-3-1 .img_1{bottom:8%;}
.page-3-1 .img_2{top:22%;}
.page-3-1 .img_3{top:36%;}

.page-4-1 .img_1{bottom:9%;}
.page-4-1 .img_2{top:20%;}
.page-4-1 .img_3{top:35%;}

.page-5-1 .img_1{top:0%;}
.page-5-1 .img_2{top:51%;}
.page-5-1 .img_3{top:60%;}

.page-6-1 .img_1{top:7%;}
.page-6-1 .img_2{top:60%;}
.page-6-1 .img_3{top:73%;}

.page-7-1 .img_1{top:0%;}
.page-7-1 .img_2{top:58%;}
.page-7-1 .img_3{top:70%;}

.page-8-1 .img_1{top:5%;}
.page-8-1 .img_2{top:61%;}
.page-8-1 .img_3{top:68%;}

.page-9-1 .img_1{top:13%;}
.page-9-1 .img_2{top:6%;}
.page-9-1 .img_3{top:61%;}
.page-9-1 .img_4{top:68%;}

.page-10-1 .img_1{top:0%;}
.page-10-1 .img_2{top: 30%;width:56px;margin-left:22%;}
.page-10-1 .img_3{top:71%;}

.page-11-1 .img_1{bottom:0%;}
.page-11-1 .img_2{bottom:12%;}
.page-11-1 .img_3{bottom:5%;}

.page-12-1 .img_1{bottom:0;}
.page-12-1 .img_2{top:21%;}
.page-12-1 .img_3{top:27%;}

.page-13-1 .img_1{top:0%;}
.page-13-1 .img_2{top:51%;}
.page-13-1 .img_3{top:38%;}

.page-14-1 .img_1{bottom:0;}
.page-14-1 .img_2{top: 3%;width:32px;margin-left: -16px;}
.page-14-1 .img_3{bottom:2%;}

.page-15-1 .img_1{top:16%;}
.page-15-1 .img_2{top:28%;}
.page-15-1 .img_3{top:48%; width:225px; margin-left:-112px;}

/*大于520px后整体left:50%;margin-left:-260px;*/
@media screen and (min-width:640px) {
	.page{ left:50%; margin-left:-320px;}
	}