.imgwrap{ display: inline-block; *display:inline; *zoom:1; position: absolute; left: 0; width:800px;}
.img-item{ float:right; margin-left: 10px;  border: 1px solid #eee;}
.img-item img,.img-item span{ width: 100px; display: block;padding: 10px;}