$color-primary:#20a0ff;//#267eb3//#2b6fa2//#337a99//#4d727d//#0b82bb//#048dc1//#0480ae//#0189a0//#0A7DA9//#5484be//#1b8bcf//#0d4364//#5e8de6//#44899f// #20a0ff;//#18c79c

$white:#fff;
$warning:#F7BA2A;
$backgroup-color:rgba(238, 240, 241, 0.25);
$td-border-color:#eef1f6;
$table-border-color:#e4e8f1;
$table-header-backgroup:rgb(234, 241, 242);
$table-hover-backgroup:rgba(174, 220, 232, 0.52);//#d0edf5;
